body { font-family: "Hiragino Kaku Gothic ProN", "Yu Gothic", "Noto Sans JP", sans-serif; }
body { font-family: system-ui, sans-serif; padding: 20px; line-height:1.6; font-size: 16px}

.small {
    font-size: 14px;
}

#intro {
    margin-top: 10px;
    padding: 10px;
    background: #eef5ff;
    border-radius: 10px;
}

#part-1 {
    margin-top: 10px;
    padding: 10px;
    background: #fffde7;
    border-radius: 10px;
}

.audio { color: #0066cc; text-decoration: underline; }

#part-2 {
    margin-top: 10px;
    padding: 10px;
    background: #fff0f5;
    border-radius: 10px;
}

#passage p {
    line-height: 5;
}

#profile p {
    line-height: 5;
}

#instructions h4 {
    margin-top: 0px;
}

#instructions {
    margin-top: 0px;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
}

#definition-popup {
    position: absolute;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 4px 5px;
    border-radius: 6px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 9999;
    text-align: center;
    max-height: 100px;
    max-width: min(500px, calc(100vw - 20px));
    box-sizing: border-box;
    width: max-content;
    white-space: normal;
}

.popup-reading {
    font-size: 15px;
    font-weight: 600;
    color: #ffd966;
    margin-bottom: 2px;
}

.popup-definition {
    font-size: 13px;
    color: white;
}

#definition-popup.show {
    opacity: 1;
}

.popup-sentence {
    margin-top: 4px;
    color: white;
}

.popup-translation {
    margin-top: 4px;
    color: #ddd;
    font-style: italic;
    font-size: 13px;
}


#part-3 {
    margin-top: 10px;
    padding: 10px;
    background: #f1f8e9;
    border-radius: 10px;
}

.grammar {
    color: #c62828;
    font-weight: bold;
    border-bottom: 3px solid #ffca28;
}

.non-target {
    margin-top: 0px;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
}

